<app-common-header />
<main class="flex-column" style="gap: 3rem; padding: 2rem 0rem;">
    <section class="h-padded">
        <div class="container-md centered no-padding">
            <h2>Meet the all-in-one platform digitizing agriculture from supply to demand</h2>
            <p class="text-v2-color">Lorem ipsum dolor sit amet consectetur. Eros sed nisl convallis tincidunt interdum scelerisque tristique. Tempus elit leo et turpis varius faucibus diam laoreet lectus.</p>
        </div>
    </section>
    <section class="container flex-middle flex-row-wrap" style="gap: 1.5rem; justify-content: space-between;">
        <div class="centered">
            <div class="h1 primary-text">4.5k+</div>
            <div>Daily register from new users</div>
        </div>
        <div class="centered">
            <div class="h1 primary-text">1.5k+</div>
            <div>Language In the world</div>
        </div>
        <div class="centered">
            <div class="h1 primary-text">1000+</div>
            <div>Total learners in the world</div>
        </div>
        <div class="centered">
            <div class="h1 primary-text">1.5k+</div>
            <div>Language In the world</div>
        </div>
    </section>
</main>
<app-common-footer />