<app-common-header />
<main class="flex-column" style="gap: 3rem; padding: 2rem 0rem">
    <section class="container">
        <div class="hero">
            <div class="col firsthero" style="padding: 3rem; background-image: url('images/img5.png');">
                <div class="content surface-text auto-t-margined">
                    <div class="small">From ₦10,500 for 3 months or ₦5,000</div>
                    <h3>Lorem ipsum dolor amet consectetur.</h3>
                    <button class="primary button">Starting from ₦10,500</button>
                </div>
            </div>
            <div class="col secondhero">
                <app-product />
                <app-product />
                <app-product />
                <app-product />
            </div>
        </div>
    </section>

    <section class="container">
        <div>
            <h4>Popular products</h4>
            <hr />
        </div>
        <div class="cbox1">
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
            <app-product />
        </div>
    </section>
</main>
<app-common-footer />