/* --- MODAL --- */

.modal {
	position: fixed !important;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px !important;
	padding: 0px !important;
	border: 0px none;
	outline: 0px none;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	z-index: var(--z-level-5);
	overflow: hidden auto;
	scroll-behavior: smooth;
	pointer-events: none;
	background-color: transparent;
	opacity: 0;
	transition: opacity 0ms linear 500ms, background-color 350ms ease;
	
	&::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0px;
		left: 0px;
		background-color: var(--scrim-color);
		border: 0px none;
		border-radius: inherit;
		user-select: none;
		pointer-events: none;
		-webkit-tap-highlight-color: transparent;
		opacity: 0;
		transition: opacity 300ms;
	}
	
	& > .scrim {
		opacity: 0;
		transition: opacity 300ms;
	}
	
	& > .dialog {
		display: block;
		position: relative;
		background-color: var(--surface);
		width: calc(100% - 4rem);
		max-width: 500px;
		overflow: hidden auto;
		z-index: 10;
		margin: 7vh auto 3vh;
		padding: 0px;
		backface-visibility: hidden;
		border-radius: var(--radius-default);
		box-shadow: var(--z-depth-5);
		opacity: 0;
		transition: transform 500ms ease-out, opacity 350ms ease 150ms;

		&.centered {
			margin: 4vh auto;
			align-self: center;
		}

		& > * {
			flex: 0 0 auto;
		}

		& > .header,
		& > .actions,
		& > .footer,
		& > .content {
			margin: 0px;
			padding: 1rem 1.5rem;
		}

		& > .content {
			overflow: auto;
		}

		&.self-scroll {
			display: flex;
			flex-direction: column;
			max-height: calc(100% - 10vh);

			& > .content {
				flex: 1 1 auto;
			}
		}

		&.bottom-sheet {
			position: fixed;
			top: auto;
			bottom: 0px;
			margin: 0px;
			width: 100%;
			max-width: 100%;
			max-height: 55%;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
			overflow: auto;
		}

		&.full-screen {
			position: fixed;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			max-width: 100%;
			max-height: 100%;
			margin: 0px;
			border-radius: 0px;
			overflow: auto;
		}

		&.all-scale { transform: scale(0.25); }
		&.horizontal-scale { transform: scaleX(0.25); }
		&.vertical-scale { transform: scaleY(0.25); }
		&.horizontal-flip { transform: perspective(2000px) rotateX(-90deg); }
		&.vertical-flip { transform: perspective(2000px) rotateY(-90deg); }
		&.bottom-sheet { transform: translateY(100%); }
	}

	&.active {
		background-color: transparent; // var(--scrim-bg);
		opacity: 1;
		pointer-events: initial;
		transition: opacity 0ms linear 0ms, background-color 350ms ease;

		&:before {
			opacity: var(--scrim-opacity);
		}

		&.transparent {
			background-color: transparent;

			&::before { opacity: 0; }
		}

		& > .scrim {
			opacity: 1;
			pointer-events: initial;
		}

		& > .dialog {
			opacity: 1;
			transition: transform 500ms ease-in, opacity 350ms ease-out 150ms;

			&.all-scale { transform: scale(1); }
			&.horizontal-scale { transform: scaleX(1); }
			&.vertical-scale { transform: scaleY(1); }
			&.horizontal-flip { transform: perspective(2000px) rotateX(0deg); }
			&.vertical-flip { transform: perspective(2000px) rotateY(0deg); }
			&.bottom-sheet { transform: translate(0%); }
		}
	}

	& > .md-control {
		z-index: 100;
	}
}