.menu {
    --menu-logo: 2em;
	--menu-logo-sm: 1.5em;
	--menu-logo-lg: 2.5em;
	--bg-color: var(--surface);
	--text-color: var(--on-surface);
	--bd-color: var(--surface-v4);
}

.menu {
    display: flex;
	position: relative;
	font-size: 1em;
	font-weight: var(--semibold);
	width: 100%;
	padding: 0em;
	line-height: 1.5;
	gap: 0.5em;
	list-style: none;
	background-color: var(--bg-color);
	color: var(--text-color);
	cursor: default;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	box-sizing: border-box;

    .items {
		display: inherit;
		flex-flow: inherit;
		gap: inherit;
		list-style: none;
		background: transparent;
		border: 0px none;
		border-radius: inherit;
		position: relative;
		line-height: inherit;
		align-items: inherit;
	}

    & > .item,
    & .items > .item {
        display: flex;
        flex-flow: row nowrap;
        gap: 0.75em;
        position: relative;
        align-items: center;
        line-height: inherit;
        color: inherit;
        text-decoration: none;
        padding: 0.5em 1.25em;
        outline: 0px none;
        border-radius: var(--comp-radius);
        white-space: nowrap;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: transparent;
    
        &.as-icon { padding: 0.75em; }
        &.free-me { padding: 0em; }
        &.vp-free {
            padding-left: 0em;
            padding-right: 0em;
        }
        &.hp-free {
            padding-top: 0em;
            padding-bottom: 0em;
        }
    
        &:not(.xhover):not(.header) {
            cursor: pointer;
        }
    
        &:not(.xactive).active,
        &:not(.xactive).selected {
            cursor: default;
            font-weight: bold;
        }
    
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            background-color: var(--text-color);
            border: 0px none;
            border-radius: inherit;
            user-select: none;
            pointer-events: none;
            -webkit-tap-highlight-color: transparent;
            opacity: 0;
        }
    
        &:not(.xhover):not(.header):hover:before,
        &:not(.xhover):not(.header).hovered:before {
            opacity: var(--hover-state);
        }
    
        &:not(.xactive).active:before,
        &:not(.xactive).selected:before {
            opacity: var(--press-state);
        }
    
        & > img {
            max-height: var(--menu-logo-lg);
            width: auto;
            line-height: 1;
            vertical-align: bottom;
        }
    
        .logo {
            max-height: var(--menu-logo);
        }
        
        .logo-sm {
            max-height: var(--menu-logo-sm);
        }
    
        & > .lead { margin-left: -0.5em; }
    
        & > .trailing {
            margin-left: auto;
            margin-right: -0.5em;
        }
    
        & > .badge {
            margin-left: auto;
    
            &.floating {
                position: absolute;
                top: 0.25em;
                right: 0.25em;
                left: auto;
                bottom: auto;
                margin: 0;

                &:empty {
                    top: 0.5em;
                    right: 1em;
                }
            }
        }
    
        & > .content {
            flex: 1 1 0;
            text-align: left;
        }
    
        &.header,
        & > .header {
            font-weight: bold;
        }
    
        &.brand,
        & > .brand {
            font-size: 1.25em;
            font-weight: bold;
        }
    
        & > .brand { vertical-align: middle; }
    }
}

.menu:not(.vertical):not(.drop) {
	align-items: center;
	min-width: max-content;
	flex-flow: row nowrap;
	
	&.wrappable {
		min-width: 0px;
		flex-flow: row wrap;
		row-gap: 0em;
	}

	&.l-aligned { justify-content: flex-start; }
	&.r-aligned { justify-content: flex-end; }
	&.centered { justify-content: center; }

	& > .item,
	.items,
	.items > .item {
		&.l-aligned { margin-right: auto !important; }
		&.r-aligned { margin-left: auto !important; }
		
		&.centered {
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

	& > .item,
	.items > .item {
		text-align: center;
		justify-content: center;

		& > .badge { margin-left: 1em; }
	}

	// Size all items in a menu or items equally with the fillable class
	// Make an item fill the remaining space in a menu or items with the adaptable class

	&.fillable > .item,
	&.fillable .items,
	&.fillable .items > .item,
	.items.fillable > .item,
	.items.adaptable,
	& > .item.adaptable,
	.items > .item.adaptable {
		flex: 1 1 auto;
	}

	&.fillable-eq > .item,
	&.fillable-eq > .items,
	.items.fillable-eq > .item {
		flex: 1 1 0;
	}
}

.menu.vertical,
.menu.drop {
	flex-flow: column nowrap;

	& > .item,
	.items > .item {
		width: 100%;
	}

	&:not(.r-aligned):not(.centered) .sub.items { margin-left: 1em; }
	&.r-aligned .sub.items { margin-right: 1em; }

	&.scrollable,
	.scrollable.items {
		overflow-y: auto;
	}
}

.menu.basic {
    & > .item,
    .items > .item {
        &:before {
            content: "";
            background-color: transparent;
            border-radius: 0px;
            user-select: none;
            pointer-events: none;
            -webkit-tap-highlight-color: transparent;
            opacity: 1;
        }

        &:not(.xhover):not(.header):hover:before,
        &:not(.xhover):not(.header).hovered:before {
            opacity: 1;
            background-color: var(--surface-v2);
        }
    
        &:not(.xactive).active:before,
        &:not(.xactive).selected:before {
            opacity: 1;
            background-color: var(--primary);
        }
    }

	&:not(.vertical):not(.drop) {
		align-items: stretch;

		& > .item,
		.items > .item {
            &:before {
                content: "";
                top: auto;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
                width: 50%;
                height: 0.1875em;
            }
		}
	}

	&.vertical,
	&.drop {
		& > .item,
		.items > .item {
            &:before {
                left: auto;
                right: 0px;
                top: 50%;
                transform: translateY(-50%);
                height: 50%;
                width: 0.1875em;
            }
		}
	}
}

.text.menu {
	padding: 0em;
	margin: .5em 0 0;
	color: inherit;
	background: transparent;

	.item {
		padding: .25em .25em;
		font-size: 0.975em;
		opacity: 0.8;
		background: transparent !important;
		border: 0px none !important;

		&:not(.xhover):not(.header):hover,
		&:not(.xhover):not(.header).hovered {
			opacity: 1;
			text-decoration: underline !important;
		}

		&:not(.xactive).active,
		&:not(.xactive).selected {
			opacity: 1;
			font-weight: bold !important;
		}

		&:not(.xhover):not(.header):hover:before,
		&:not(.xhover):not(.header).hovered:before,
		&:not(.xactive).active:before,
		&:not(.xactive).selected:before {
			opacity: 0;
		}
	}
}